/* Уменьшаем размеры карточек и текста */
#profiles div {
    font-size: 0.875rem; /* Уменьшаем текст */
    padding: 1rem; /* Отступы внутри карточек */
}

#profiles img {
    max-height: 120px; /* Уменьшаем размер изображений */
    object-fit: contain; /* Для правильного масштабирования */
}

#subprofileImages img {
    border-color: var(--main-color);
    border-width: 1.5px;
    width: 256px; /* Увеличиваем размер в 2 раза */
    height: 256px;
    border-width: 3px; /* Обводка увеличена для лучшего вида */
}

/* Глобальный адаптив */
@media (min-width: 640px) {
    #profiles {
        grid-template-columns: repeat(2, 1fr); /* 2 карточки на экранах >= 640px */
    }
}

@media (min-width: 1024px) {
    #profiles {
        grid-template-columns: repeat(4, 1fr); /* 4 карточки на экранах >= 1024px */
    }
}

/* Уменьшение отступов в таблице */
#profileTable th, #profileTable td {
    padding: 0.5rem;
    font-size: 0.875rem;
}

/* Уменьшение отступов внутри основного контейнера */
#profileDetails {
    padding: 1rem;
}
